<div class="row">
  <div class="col-4">

    <div style="background-color:#ffcc80; position:fixed; margin-left:5px; height: 100%; width:200px;">

      <nav class="navbar">
        <ul class="navbar-nav">
          <p></p>
          <li class="nav-item">
            <i class="'fa fa-shopping-cart'"></i>
            <p class="nav-link fa fa-shopping-cartp" (click)="dashboard()">Dashboard</p>
          </li>
          <li class="nav-item">
            <p class="nav-link" (click)="users()">Users</p>
          </li>
          <li class="nav-item">
            <p class="nav-link" (click)="products()">Products</p>
          </li>
          <li class="nav-item">
            <p class="nav-link" (click)="addProducts()">Add Product</p>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>