<div class="parent">
  <div class="child">
    <div class="form-group">
      <div class="card-header"></div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="margin-left:20px; margin-top:20px;">First name:</span>
        </div>
        <input type=" text" class="form-control" id="user" style="margin-right:20px; margin-top:20px;">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="margin-left:20px; margin-bottom:10px;">Last name:</span>
        </div>
        <input type="text" class="form-control" id="pass" style="margin-right:20px; margin-bottom:10px;">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="margin-left:20px; margin-bottom:10px;">e-mail:</span>
        </div>
        <input type="email" class="form-control" id="email" style="margin-right:20px; margin-bottom:10px;">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="margin-left:20px; margin-bottom:10px;">Phone:</span>
        </div>
        <input type="tel" class="form-control" id="phone" style="margin-right:20px; margin-bottom:10px;">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="margin-left:20px; margin-bottom:10px;">Designation:</span>
        </div>
        <input type="text" class="form-control" id="desg" style="margin-right:20px; margin-bottom:10px;">
      </div>

      <div class="card-footer">
        <div class="text-center">
          <button class="btn btn-success">SUBMIT</button>
        </div>
      </div>
    </div>
  </div>
</div>